* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

#container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, minmax(0, auto));
	background-color: black;
	color: white;
}

nav {
	grid-row: 1/2;
	grid-column: 1/13;
	padding: 10px;
	margin: 5px;
}

nav ul {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, minmax(0, auto));
}

nav li {
	list-style-type: none;
}

nav li a {
	color: white;
	text-decoration: none;
}

nav li.first {
	grid-column: 3/5;
}

nav li.second {
	grid-column: 6/8;
}

nav li.third {
	grid-column: 9/11;
}

header {
	grid-row: 2/3;
	height: 300px;
	grid-column: 1/13;
	justify-content: center;
	align-content: center;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

header h1 {
	grid-column: 5/13;
	letter-spacing: 5px;
	font-weight: 500;
}

main {
	grid-row: 3/4;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: #fff;
	color: black;
	padding: 30px;
}

main article {
	grid-row: 1/2;
	text-align: center;
	grid-column: 3/10;
}

main #right ul {
	padding: 0;
	margin-top: 100px;
	display: flex;
}

main li {
	list-style-type: none;
	margin-left: 15px;
}

main #right {
	grid-column: 7/12;
	grid-row: 2/3;
}

main #left {
	grid-column: 2/7;
	overflow: hidden;
	grid-row: 2/3;
}

main #left img {
	width: 400px;
}

#filter {
	background-color: #fff;
	color: black;
	grid-row: 4/5;
	grid-column: 1/13;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	display: grid;
	padding: 25px;
}

#filter > p {
	grid-row: 1/2;
	grid-column: 1/3;
	font-weight: bold;
	margin-top: 5px;
}

#filter i {
	margin-right: 5px;
}

#filter .checkin {
	grid-row: 1/2;
	grid-column: 3/5;
}

#filter .checkin #checkin {
	border-radius: 10px;
	border: 1px solid black;
	padding: 3px;
}

#filter .checkout {
	grid-row: 1/2;
	grid-column: 5/7;
}

#filter .checkout #checkOut {
	border-radius: 10px;
	border: 1px solid black;
	padding: 3px;
}

#filter .Roomtype {
	grid-row: 1/2;
	grid-column: 7/9;
	margin-right: 10px;
}

#filter .Roomtype #roomType {
	border-radius: 10px;
	border: 1px solid black;
	padding: 3px;
}

#filter .RoomNo {
	grid-row: 1/2;
	grid-column: 9/11;
}

#filter .RoomNo #roomNo {
	border-radius: 10px;
	border: 1px solid black;
	padding: 3px;
}

#filter .adults {
	grid-row: 2/3;
	grid-column: 3/5;
}

#filter .adults #adults {
	border-radius: 10px;
	border: 1px solid black;
	padding: 3px;
}

#filter .child {
	grid-row: 2/3;
	grid-column: 5/7;
}

#filter #children {
	border-radius: 10px;
	border: 1px solid black;
	padding: 3px;
}

#filter .location {
	grid-row: 2/3;
	grid-column: 7/10;
}

#filter #locate {
	border-radius: 10px;
	border: 1px solid black;
	padding: 3px;
}

#filter button {
	grid-row: 2/3;
	grid-column: 9/11;
	border-radius: 30px;
	background-color: rgb(95, 146, 95);
	color: white;
	padding: 10px 30px;
	border: none;
	font-weight: bold;
	margin-left: 20px;
}

section {
	grid-row: 5/6;
	grid-column: 1/13;
	padding: 30px;
	color: black;
	background-color: #fff;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, minmax(0, auto));
	padding: 30px;
	font-weight: 400;
	grid-gap: 1%;
}

section article {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, minmax(0, auto));
	overflow: hidden;
	position: relative;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
}

section article img {
	width: 400px;
	height: 280px;
	border-radius: 5px;
}

section article img {
	grid-row: 1/2;
	grid-column: 1/13;
}

section article h3 {
	grid-row: 2/3;
	grid-column: 1/7;
	margin-top: 30px;
}

section article > b {
	grid-row: 3/4;
	grid-column: 1/13;
	margin-top: 10px;
	color: #cca711;
}

section article small {
	grid-row: 4/5;
	grid-column: 1/13;
	margin: 10px auto;
}

section article p {
	grid-row: 5/6;
	grid-column: 1/13;
	margin: 0;
}

section article p > b {
	color: rgb(37, 37, 206);
}

section article#first {
	grid-row: 1/2;
	grid-column: 1/5;
}

section article#second {
	grid-row: 1/2;
	grid-column: 5/9;
}

section article#third {
	grid-row: 1/2;
	grid-column: 9/13;
}

section article#fourth {
	grid-row: 2/3;
	grid-column: 1/5;
}

section article#fifth {
	grid-row: 2/3;
	grid-column: 5/9;
}

section article#sixth {
	grid-row: 2/3;
	grid-column: 9/13;
}

section article#seventh {
	grid-row: 3/4;
	grid-column: 1/5;
}

section article#eight {
	grid-row: 3/4;
	grid-column: 5/9;
}

section article#nineth {
	grid-row: 3/4;
	grid-column: 9/13;
}

section article#tenth {
	grid-row: 4/5;
	grid-column: 1/5;
}

section article#eleventh {
	grid-row: 4/5;
	grid-column: 5/9;
}

section article#twelfth {
	grid-row: 4/5;
	grid-column: 9/13;
}

/* section ends here */

footer {
	grid-row: 6/7;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	padding: 40px;
	grid-gap: 10px;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer li {
	list-style-type: none;
	margin-top: 15px;
}

footer #footFirst {
	grid-column: 2/4;
}

footer #footFirst h3 {
	font-weight: 500;
}

footer #footFirst ul {
	display: flex;
}

footer #footFirst li {
	margin-left: 10px;
}

footer #footSecond {
	grid-column: 7/8;
}

footer #footThird {
	grid-column: 8/9;
}

footer #footFourth {
	grid-column: 9/10;
}

footer #footFifth {
	grid-column: 10/11;
}

footer #footSixth {
	grid-column: 11/12;
}
